@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
 
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.container{
    /* width: 100%;
    height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding: 50px 0px;
}
.influ-container{
    width: 60%;
    /* height: 550px; */
    background-color: rgb(201, 201, 201);
    border-radius: 20px;
    user-select: none;
    margin-bottom: 30px;
}
.top-profile{
    width: 100%;
    background-color: #fff;
    height: 80px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid gray;
}
.top-profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 20px 53px;
    position: relative;
    top: -192px;
}
.circle{
    width: 20px;
    height: 80px;
    border-radius: 50%;
    padding: 20px 50px;
    background-color: #fff;
    position: relative;
    left: 40px;
    top: 10px;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
}
.squre{
    width: 30px;
    height: 30px;
    padding: 20px 50px;
    background-color: #fff;
    position: relative;
    left: 40px;
    top: -112px;
}
.top-profile i{
    font-size: 24px;
    position: relative;
    left: 69%;
    top: -285px;
}
.contact-info {
    text-align: right;
    padding: 20px 30px;
    float: right;
    /* width: 100%; */
    user-select:text;

}
.phone,
.email{
    display: flex;
    text-align: left;
    gap: 10px;
    margin: 10px 0px ;
    align-items: center;
    font-size: 12px;
    color: #1f1f1f;
}
.email{
    position: relative;
    right: 3px;
}
.personal-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 65px;
    margin-left: 30px;
    user-select:text;
}
.name h2{
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
}
.age-gender{
    margin-top: 5px;
    display: flex;
    gap: 20px;
}
.age-gender p{
    font-size: 14px;
}
.social-media{
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    user-select:text;
}
.instagram{
    width: 50%;
    margin-left: 30px;
}
.instagram i{
    text-decoration: none;
    background-image: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
    color: transparent;
    background-clip: text;
    background-size: 100%;
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    font-weight: 500;
}
.tiktok{
    width: 50%;
}
.tiktok i{
    background-color: #000;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    padding-top: 3px;
}
.inputs1{
    margin-top: 30px;
}
.inputs1 input{
    margin-left: 38px;
}
.inputs2{
    margin-top: 10px;
}
.inputs2 input{
    width: 80px;
    margin-left: 5px;
}
.inputs1 input,
.inputs2 input{
    border: none;
    border-radius: 5px;
    height: 25px;
}
.promote{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    user-select: text;
}
.promo-title{
    width: 20%;
}
.promo-list{
    width: 70%;
    overflow: hidden;
    margin-right: 10px;
}
.promo-next{
    width: 10%;
    margin-left: 10px;
    cursor: pointer;
}
.promo-list ul{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
    word-wrap: none;
    cursor: pointer;
}
.promo-list ul li{
    background-color: transparent;
    border: 1.5px solid #ff6f00;
    padding: 0px 20px;
    color: #ff6f00;
    border-radius: 5px;
}
.selected{
    background-color: #ff6f00!important;
    color: #fff!important;
}
.credit{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
    gap: 30px;
    flex-wrap: wrap;
}
.flex{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.flex input{
    position: relative;
    top: -2px;
}
.credit-score input{
    width: 100px;
    padding-left: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
}
.earnings input{
    width: 70px;
    padding-left: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
}
.gifts input{
    width: 40px;
    padding-left: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
}
.bottom-promotion{
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;
}
.b-promo-title{
    width: 50%;
}
.b-promo-title p{
    font-weight: 600;
}
.b-promo-title span{
    font-weight: 400;
    margin-left: 20px;
}
.sus-btn{
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.sus-btn a{
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    float: right;
    margin-right: 30px;
}
.fa-xmark{
    float: right;
    margin-right: 30px;
    font-size: 24px;
    position: relative;
    top: -50px;
    cursor: pointer;
}

/* Target smaller screens first */
@media screen and (max-width:968px) {
    .social-media {
        flex-direction: column;
    }
    .instagram{
        width: 100%;
    }
    .tiktok{
        width: 100%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .promo-title h4{
        font-size: 14px;
    }
    .promo-title ul li{
        font-size: 5px;
    }
    .promote{
        margin-left: 15px;
        gap: 20px;
    }
    .credit{
        margin-left: 15px; 
        align-items: flex-start;
        gap: 20px;
    }
    .promo-list ul{
        gap: 20px;
    }
    .promo-next{
        position: relative;
        right: 10px;
    }
    .bottom-promotion{
        margin-left: 15px;
    }
    .b-promo-title p{
        font-size: 14px;
    }
    .sus-btn a{
        font-size: 14px;
    }
    .influ-container{
        width: 90%;
    }
    .bottom-promotion{
        flex-direction: column;
    }
    .b-promo-title{
        width: 100%;
    }
    .sus-btn{
        width: 100%;
        margin-top: 30px;
    }
    .contact-info{
        margin-top: 40px;
        margin-right: 0px;
    }
}