@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}
.heading {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}
.company{
    display: flex;
}
.heading h2{
    position: relative;
    top: -7px;
}
.heading i{
    font-size: 24px;
    padding-right: 10px;
}
.heading p{
    position: relative;
    bottom:  10px;
    left: 37px;
}
.sidebar {
    width: 50%;
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
.sidebar h2 {
    font-size: 18px;
    margin-top: 0;
}
.sidebar .menu {
    list-style: none;
    padding: 0;
    flex-grow: 1;
    margin-top: 60px;
}
.sidebar .menu li {
    margin: 15px 0;
}
.sidebar .menu li a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    transition: 0.3s;
    padding: 10px 0px;
}
.sidebar .menu li a.active,
.sidebar .menu li a:hover {
    background-color: #ff6f00;
    color: #fff;
    border-radius: 10px;
}
.sidebar .menu li a span {
    margin-left: 10px;
}
.profile {
    display: flex;
    align-items: center;
}
.profile img {
    border-radius: 50%;
    margin-right: 10px;
}
.content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}
.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.search-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content header input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0px 0px 5px;
}
.content header select {
    padding: 7px 8px;
    border: 1px solid #ccc;
    border-radius: 0px 5px 5px 0px;
}
.form-section h2 .actions button{
    background-color: #ff6f00;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}
.form-section h2 .actions button:hover{
    background-color: #ff6d059d;
}
.form-section h2 .actions button.delete {
    background-color: #fff;
    color: #333;
    border: 1px solid gray;
}
.form-section h2 .actions button.delete:hover{
    background-color: #e2e2e2;
}
.form-section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-section h2 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group textarea,
.form-group input[type="date"] {
    width: 98.5%;
    padding: 10px 0px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group .upload-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    padding: 10px;
    border-radius: 5px;
    flex-direction: row;
    gap: 10px;
}
.form-group .upload-box button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.form-group .upload-box button:hover{
    background-color: rgba(0, 128, 0, 0.527);
}
.form-group .upload-box span {
    font-size: 12px;
    color: #666;
}
.search-sort{
    width: 100%;
}
.searchandsort{
    width: 100%;
}
.search{
    width: 60%;
}
.mail-notification i{
    color: gray;
    font-size: 20px;
    margin-left: 100px;
    cursor: pointer;
}
.mail-notification i:hover{
    color: black;
}
.searchandsort{
    display: flex;
    align-items: center;
}
.startdate p{
    width:80%;
}
.enddate p{
    width:80%;
}
.startdate{
    display: flex;
    font-size: 15px;
    gap: 10px;
    align-items: center;
}
.startdate input{
    height: 10px;
}
.enddate input{
    height: 10px;
}
.enddate{
    font-size: 15px;
    display: flex;
    gap: 10px;
    align-items: center;
}
.form-group span{
    color: red;
}

/* Target smaller screens first */
@media screen and (max-width: 768px) {
    .sm-hide{
      display: none; /* Hide menu text on small screens */
    }
    .sidebar ul{
        margin-top: 60px;
    }
    .sidebar .menu li a.active, .sidebar .menu li a:hover{
        margin: -10px;
    }
    .sidebar .menu li a{
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }
    .sidebar{
        width: 160px;
    }
    .heading p{
        display: none;
    }
    .company span i{
        text-align: center;
    }
    .company h2{
        display: none;
    } 
    .profile span{
        display: none;
    }
    .form-section  h2{
        font-size: 14px;
    }
    .form-section h2 .actions button{
        padding: 5px;
    }
    .actions{
        display: flex;
        gap: 10px;
    }
    .dateselection{
        display: flex;
        flex-direction: column;
    }
    .form-group .upload-box{
        flex-direction: column;
    }
    .search{
        width: auto
    }
    .mail-notification i {
        /* position: absolute;
        right: 10px;
        top: 25px; */
        margin-left: 15px;
    }
    .content header input[type="text"] {
        width: 120px;
    }
    .info-left{
        font-size: 14px;
    }
    .info-right p{
        font-size: 14px;
    }
    .before{
        flex-direction: column!important;
    }
    .info-right p{
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 14px;
        width: 50px!important; /* Set the width of the container */
        white-space: nowrap; /* Prevent wrapping to next line */
        overflow: hidden; /* Hide overflowing content */
        text-overflow: ellipsis; /* Add ellipsis to overflowing text */
    }
    .form-group .upload-box button{
        font-size: 10px;
    }
  }
  .sidebar .menu li a.active:hover{
    background-color: #f7954adc!important;
  }
  .dateselection{
    display: flex;
    gap: 20px;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  /* Style for larger screens */
  @media screen and (min-width: 768px) {
    .sm-hide{
      display: none; /* Hide menu icon on large screens */
    }
  
    .sm-hide{
      display: inline-block; /* Show menu text on large screens */
    }
    
  }

.info{
    /* width: 150px; */
    height: 60px;
    background-color: rgb(253, 199, 207);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}
.info-left{
    font-size: 24px;
}
.info-right{
    display: flex;
    flex-direction: column;
}
.info-right p{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;
    width: 150px; /* Set the width of the container */
    white-space: nowrap; /* Prevent wrapping to next line */
    overflow: hidden; /* Hide overflowing content */
    text-overflow: ellipsis; /* Add ellipsis to overflowing text */
}
.before{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.info-close{
    cursor: pointer;
}

#upload-box-2-2,
#upload-box-2-3{
    display: none;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center button{
    margin: 15px 30px;
    background-color: rgb(253, 199, 207)!important;
    color: #000!important;
}
#upload-box-3-2,
#upload-box-3-3{
    display: none;
}

.heading2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.heading-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}
.heading-right i{
    margin-right: 5px;
    cursor: pointer;
}
.heading-left h3{
    font-size: 24px;
    font-weight: 500;
    color: #ff6f00;
} 
.heading-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.heading-right .btn{
    background-color: rgb(255, 205, 185);
    padding: 15px 30px;
    color: #ff6f00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}
.heading-right .btn:hover{
    background-color: #fd9647;
    color: #fff;
}
.heading-right .btn2:hover{
    background-color: #fd9647;
}
.heading-right .btn2{
    background-color: #ff6f00;
    padding: 15px 30px;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.description{
    border-radius: 10px;
    padding: 20px 20px;
    padding-left: 0px;
    margin-bottom: 30px;
    overflow: auto;
}
.des-left{
    width: 67%;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
}
.des-right{
    width: 300px;
    height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.des-right img{
    width: 100%;
    border-radius: 10px;
}
.des-date{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -30px;
    gap: 20px;
}
.des-links{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.des-links a{
    text-decoration: none;
    color: #000;
    background-color: rgba(240, 128, 128, 0.616);
    padding: 7px 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.des-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    width: 150px;
    height: 150px;
}
.des-img img{
    width: 100%;
    border-radius: 10px;
    margin-top: -40px;
}
.des-img video{
    width: 130%;
    height: 100px;
    border-radius: 10px;
    margin-top: -40px;
}
.des-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.des-btn a{
    text-decoration: none;
    padding: 7px 10px;
    background-color: transparent;
    color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}
.des-btn a:hover{
    background-color: rgba(128, 128, 128, 0.158);
}
.res input{
    width: 100%;
    height: 30px;
    padding-left: 10px;
    border:1px solid gray;
    border-radius: 5px ;
}
.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title i{
    margin-right: 10px;
    position: relative;
    top: -20px;
    background-color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}
.des-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
.des-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px
}
.des-search-left {
    position: relative;
    left: -20px
}
.des-search-left i{
    position: relative;
    left: 30px;
    color: gray;
}
.des-search-left input{
    height: 30px;
    width: 250px;
    border-radius: 5px;
    color: gray;
    border: 1px solid gray;
    padding-left: 35px;
}
.des-search-left button{
    background-color: #ff6f00;
    padding: 5px 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    height: 33px;
    margin-left: 10px;
    cursor: pointer;
}
.des-search-left button:hover{
    background-color: #fd9647;
}
.des-filter select{
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 5px;
    margin-left: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 5px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
tr{
    margin-bottom: 50px;
}
table th {
    background-color: #f8f8f8;
}
/* Target smaller screens first */
@media screen and (max-width: 768px) {
    
    .des-filter{
        justify-content: space-between;
    }
    .des-filter select{
        width: 100px;
    }
    .heading2{
        margin-left: 0;
    }
    .heading-left h3{
        font-size: 14px;
    }
    .heading-right{
        flex-direction: column;
    }
    .heading-right .btn {
        padding: 10px 15px;
        font-size: 10px;
    }
    .heading-right .btn2 {
        padding: 10px 15px;
        font-size: 10px;
    }
    .description{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .des-right{
        height: auto;
        width: 100%;
    }
    .des-right img{
        width: 100%;
    }
    .des-left{
        width: 100%;
    }
    .des-date{
        font-size: 11px;
    }
    .des-links a {
        font-size: 10px;
    }
    .scroll{
        width: 100%;
        overflow: auto;
    }
    .res{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }
    .title i{
        top: 0px;
    }
    .des-search{
        flex-direction: column;
        align-items: flex-start;
    }
    .des-search-left{
        margin-bottom: 30px;
        position: relative;
    }
    .des-search-left input{
        height: 30px;
        width: 120px;
    }
    .des-search-left button{
        padding: 5px 8px;
    }
    .content{
        width: 90%!important;
    }
    .sidebar{
        width: 10%!important;
    }
    .influ-profiles {
        gap: 0!important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .des-right img{
        width: 80%;
    }
    .des-right img{
        top: 50px;
    }
    .des-search-left input{
        height: 30px;
        width: 200px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 768px) {
    .des-search-left input{
        height: 30px;
        width: 400px;
    }
}
.influ-container{
    width: 30%;
    /* height: 550px; */
    border-radius: 20px;
    user-select: none;
    margin-bottom: 30px;
    border: 2px solid gray;
    margin-top: 10px;
}
.top-profile{
    width: 100%;
    background-color: #fff;
    height: 80px;
    border-radius: 20px 20px 0px 0px;
    border-bottom: 2px solid gray;
}
    .top-profile img {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        padding: 20px 53px;
        position: relative;
        top: -175px;
        right: 16px;
    }
    .circle {
        width: 0px;
        height: 56px;
        border-radius: 50%;
        padding: 20px 50px;
        background-color: #fff;
        position: relative;
        left: 28px;
        top: 10px;
        border-bottom: 2px solid gray;
        border-left: 2px solid gray;
        border-right: 2px solid gray;
    }
.squre {
    width: 30px;
    height: 30px;
    padding: 20px 50px;
    background-color: #fff;
    position: relative;
    left: 26px;
    top: -88px;
}
.top-profile i{
    font-size: 24px;
    position: relative;
    left: 69%;
    top: -285px;
}

.contact-info {
        text-align: right;
        padding: 20px 30px;
        /* float: right; */
        /* width: 100%; */
        user-select: text;
        margin-left: 150px;

}
.influ-profiles{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 45px;
}
.phone,
.email{
        display: flex;
        text-align: left;
        gap: 10px;
        margin: 10px 0px;
        align-items: center;
        font-size: 20px;
        color: #ff6f00;
}
.email{
    position: relative;
    right: 50px;
    bottom: 10px;
}
.personal-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 30px;
    user-select:text;
    margin-top: -30px;
}
.name h2{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    color: gray;
    margin-bottom: 20px;
}
.ins span{
    position: relative;
    bottom: 5px;
    left: 5px;
}
.age-gender{
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 30px;
}
.age-gender p{
    font-size: 14px;
}
.social-media{
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    user-select:text;
}
.instagram{
    width: 50%;
    margin-left: 30px;
}
.instagram i{
    text-decoration: none;
    background-image: linear-gradient(to right, #f9ce34, #ee2a7b, #6228d7);
    color: transparent;
    background-clip: text;
    background-size: 100%;
    font-size: 20px;
    margin-right: 5px;
    position: relative;
    top: 2px;
    font-weight: 500;
}
.tiktok{
    width: 50%;
}
.tiktok i{
    background-color: #000;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    text-align: center;
    padding-top: 3px;
}
.inputs1{
    margin-top: 30px;
}
.inputs1 input{
    margin-left: 38px;
}
.inputs2{
    margin-top: 10px;
}
.inputs2 input{
    width: 80px;
    margin-left: 5px;
}
.inputs1 input,
.inputs2 input{
    border: none;
    border-radius: 5px;
    height: 25px;
}
.promote{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    user-select: text;
}
.promo-title{
    width: 20%;
}
.promo-list{
    width: 70%;
    overflow: hidden;
    margin-right: 10px;
}
.promo-next{
    width: 10%;
    margin-left: 10px;
    cursor: pointer;
}
.promo-list ul{
    display: flex;
    list-style: none;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
    word-wrap: none;
    cursor: pointer;
}
.promo-list ul li{
    background-color: transparent;
    border: 1.5px solid #ff6f00;
    padding: 0px 20px;
    color: #ff6f00;
    border-radius: 5px;
}
.selected{
    background-color: #ff6f00!important;
    color: #fff!important;
}
.credit{
    display: flex;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
    gap: 30px;
    flex-wrap: wrap;
}
.flex{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.flex input{
    position: relative;
    top: -2px;
}
.credit-score input{
    width: 100px;
    padding-left: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
}
.earnings input{
    width: 70px;
    padding-left: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
}
.gifts input{
    width: 40px;
    padding-left: 15px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    height: 35px;
}
.bottom-promotion{
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;
}
.b-promo-title{
    width: 50%;
}
.b-promo-title p{
    font-weight: 600;
}
.b-promo-title span{
    font-weight: 400;
    margin-left: 20px;
}
.sus-btn{
    width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.sus-btn a{
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    float: right;
    margin-right: 30px;
}
.view-profile{
    float: right;
    margin-right: 30px;
    font-size: 15px;
    position: relative;
    top: -50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.view-profile span{
    font-size: 12px;
}

/* Target smaller screens first */
@media screen and (max-width:968px) {
    .social-media {
        flex-direction: column;
    }
    .instagram{
        width: 100%;
    }
    .tiktok{
        width: 100%;
        margin-left: 30px;
        margin-top: 30px;
    }
    .promo-title h4{
        font-size: 14px;
    }
    .promo-title ul li{
        font-size: 5px;
    }
    .promote{
        margin-left: 15px;
        gap: 20px;
    }
    .credit{
        margin-left: 15px; 
        align-items: flex-start;
        gap: 20px;
    }
    .promo-list ul{
        gap: 20px;
    }
    .promo-next{
        position: relative;
        right: 10px;
    }
    .bottom-promotion{
        margin-left: 15px;
    }
    .b-promo-title p{
        font-size: 14px;
    }
    .sus-btn a{
        font-size: 14px;
    }
    .influ-container{
        width: 100%;
    }
    .bottom-promotion{
        flex-direction: column;
    }
    .b-promo-title{
        width: 100%;
    }
    .sus-btn{
        width: 100%;
        margin-top: 30px;
    }
    .contact-info{
        margin-top: 40px;
        margin-right: 0px;
    }
    .personal-info {
        margin-top: -80px;
    }
    .email{
        bottom: 40px;
    }
}

.content{
    width: 83%;
}
.sidebar{
    width: 17%;
}